<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <script src="static/changeCipherScript.js" type="text/javascript">
  </script>
  <title>
   Document
  </title>
  <link href="{{ url_for('static', path='/style.css')}}" rel="stylesheet"/>
 </head>
 <body>
  <div class="main-block" id="main-block">
   <div class="settings-section">
    <button id="Setting">
     Settings
    </button>
   </div>
   <form action="/startEncoder" enctype="multipart/form-data">
    <select id="ciphersList" name="ciphersList">
     <option disabled="True" selected="True" value="Empty_tag">
      Change cipher
     </option>
     <option value="HPC_cipher">
      HPC_cipher
     </option>
    </select>
    <label class="input-file">
     <span id="custom-file-label">
      Choose file
     </span>
     <input accept=".doc,.docx,application/msword, text/plain" id="text-file" name="text_file" onchange="document.getElementById('custom-file-label').textContent = this.files[0].name;" required="" style="display: none;" type="file"/>
    </label>
    <label id="file-validity">
    </label>
    <label for="length">
     Telegram size:
    </label>
    <input id="lenght-of-tg" name="length" placeholder="Enter telegram size" type="number"/>
    <label for="number">
     Number of telegrams:
    </label>
    <input id="count-of-tg" name="number" placeholder="Enter number of telegrams" type="number"/>
    <div class="button-container">
     <button id="encrypt" onclick="encriptSettings()">
      Encryption settings
     </button>
     <button id="decrypt">
      Decryption settings
     </button>
    </div>
   </form>
  </div>
 </body>
</html>
