<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Select
  </title>
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <script>
   async function submitChoice() {
              // Get the selected option
              const selectedOption = document.getElementById("option").value;
              
              // Send the selected option to the server
              const response = await fetch("/selectCipher", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/x-www-form-urlencoded"
                  },
                  body: new URLSearchParams({ option: selectedOption })
              });
       
              // Display the server's response
              if (response.ok) {
                  const data = await response.json();
                  document.getElementById("responseMessage").innerText = `You selected: ${data.selected_option}`;
              } else {
                  document.getElementById("responseMessage").innerText = "Error: Could not submit your choice.";
              }
          }
  </script>
  <div class="setting">
   <button id="Setting">
    Настройки
   </button>
  </div>
  <form action="/selectCipher" enctype="multipart/form-data" method="POST">
   <select id="option" name="option">
    <option value="HPC_cipher">
     HPC_cipher
    </option>
   </select>
   <div class="main-block">
    <label class="input-file">
     <input id="file" name="file" required="" type="file"/>
    </label>
    <label for="lenght">
     Размер телеграмм:
    </label>
    <input id="length" name="length" placeholder="Введите размер телеграмм" required="" type="number"/>
    <label for="number">
     Количество телеграмм:
    </label>
    <input id="number" name="number" placeholder="Введите количество телеграмм" required="" type="number"/>
   </div>
   <div class="button-container">
    <button id="encrypt">
     Зашифровать
    </button>
    <button id="decrypt">
     Расшифровать
    </button>
   </div>
  </form>
 </body>
</html>
